{% extends 'base.html' %}
{% block title %}Directory{% endblock %}
{% block content %}
<h1 class="display-1">Phone Numbers</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <th>Employee</th>
    <th>Department</th>
    <th>Phone</th>
  </thead>
  <tbody>
    {% for employee in employees %}
    <tr>
      <td>{{employee.name}} <a class="btn btn-sm btn-info" href="/employees/{{employee.id}}/edit">Edit</a></td>
      <td>{{employee.dept.dept_name}}</td>
      {% if employee.dept.phone %}
      <td>{{employee.dept.phone}}</td>
      {% else %}
      <td class="text-danger">no phone</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="/employees/new" class="btn btn-success">Add Employee</a>
{% endblock %}